
@{
    ViewBag.Title = "PaymentError";
    Layout = "~/Views/Shared/View_BrokkrrMainLayout.cshtml";
}

<div class="container" style="height: 85.3%;">
    <div class="row" style="padding-left:20%;padding-right:20%">
        <br />
        <div class="col-md-12">
            <h3>Error</h3>            
            <h3>Error Occured during processing.</h3>
            <h3>Please try again.</h3>
        </div>
    </div>
</div>
