@model BrokerMVC.Models.ContactUs

<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Images/Assets/brokkrIcon24x24.png">

    <link href="~/Content/BrokkrrCSS/ModelPopUp.css" rel="stylesheet" />
    <link href="~/Content/BrokkrrCSS/ModalCSS/modal125b.css" rel="stylesheet" /> @*19Sep17*@

    <title>brokkrr Inc.</title>

    <!-- For-Mobile-Apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   
   
    <link href="~/Content/BrokkrrCSS/CSS1/bootstrap.min.css" rel="stylesheet" />
   
    <link href="~/Content/BrokkrrCSS/CSS2/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/BrokkrrCSS/CSS1/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/BrokkrrCSS/CSS1/Home.css" rel="stylesheet" />
    <link href="~/Content/BrokkrrCSS/default.css" rel="stylesheet" />
    <link href="~/Content/BrokkrrCSS/component.css" rel="stylesheet" />
    <link href="~/Content/BrokkrrCSS/CSS2/navbar.css" rel="stylesheet" />
    <script src="~/Scripts/Scripts1/modernizr.custom.js"></script> 
   
    <link rel="stylesheet" type="text/css" href="~/Content/BrokkrrCSS/CSS2/slider.css" /> 
   
    <link href='~/Content/BrokkrrCSS/Francois.css' rel='stylesheet' type='text/css'>
    <link href='~/Content/BrokkrrCSS/OpenSans.css' rel='stylesheet' type='text/css'>
    <link href='~/Content/BrokkrrCSS/Raleway.css' rel='stylesheet' type='text/css'> 
  
    <link href="~/Content/themes/popuo-box.css" rel="stylesheet" />
    <link href="~/Content/themes/style.css" rel="stylesheet" /> 
  
</head>

<body id="PageBody">
  
    @RenderBody()
   
    @*<script type="text/javascript" src="~/Scripts/Scripts2/bootstrap.min.js"></script>*@

       <script type="text/javascript" src="~/Scripts/Scripts2/modernizr.custom.28468.js"></script>
    <script type="text/javascript" src="~/Scripts/Scripts2/jquery.cslider.js"></script>
  
    
    <script src="~/Scripts/Scripts1/jquery.cbpFWSlider.min.js"></script>
   
</body>
</html>