@{
    ViewBag.Title = "BrokerLoginWithLinkedIn";
    Layout = "~/Views/Shared/View_BrokkrrLoginLayout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomerLoginWithLinkedIn</title>
    <script src="~/js/jquery-1.12.4.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            //alert("Called");
            var SiteUrl = '@ViewBag.SiteUrl';

            if (SiteUrl != "") {
                //location.href = "https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=75buq9yv6kgp1a&redirect_uri=http://localhost:59993/Login/LinkedINAuth&state=987654321&scope=r_basicprofile,r_emailaddress";

                location.href = "https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=75buq9yv6kgp1a&redirect_uri=" + SiteUrl + "Login/LinkedINAuth&state=987654321&scope=r_basicprofile,r_emailaddress";
            }
        });
    </script>
</head>
<body>
    <div style="height:100%">
    </div>
</body>
</html>
